# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
client/node_modules

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/


# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Environment files
.env
.env.local


# Database / migrations
*.db
migrations/versions/*.pyc
migrations/versions/__pycache__/

# MacOS
.DS_Store

# Docker
*.dockerignore
docker-compose.override.yml

# txt, sh
ts.txt
setup.sh
*.sql
.ui.jpg
